@import "~/src/styles/variables.scss";

.rating {
  display: flex;
  align-items: center;
  line-height: $lineHeightSmallest;

  .number_of_ratings {
    font-size: $fontSizeSmaller;
    margin-left: 0.4rem;
  }
}
