.hero {
  display: grid;
  grid-template: 1fr / 1fr;

  img {
    width: 100%;
    height: 100%;
  }
  .picture_wrapper {
    grid-area: 1/1;
  }

  .content {
    grid-area: 1/1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2.254rem 1.805rem;

    .icons {
      display: flex;
      justify-content: space-between;
    }

    .name_and_rating {
      color: white;
    }
  }
}
