.hero {
  display: grid;
  grid-template: 1fr / 1fr;

  img {
    width: 100%;
  }
  .picture_wrapper {
    grid-area: 1/1;
  }

  .content {
    grid-area: 1/1;
    padding: 2.254rem 1.805rem 2.5rem 1.6rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .icons {
      display: flex;
      justify-content: space-between;
    }

    .name_and_rating {
      color: white;
      .name {
        font-size: 22px;
        line-height: 30px;
      }
    }
  }
}
