@import url(~/src/styles/fonts.css);

$textColorBlack: #202020;
$textColorGrey: #656565;

$colorPrimary: #b69f58;
$colorSecondary: #eee;
$colorWhite: white;

html {
  font-size: 62.5%;
  body {
    font-family: CustomOpenSans, sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    color: $textColorBlack;
    margin: 0;
    padding: 0;
    overflow: hidden;

    h1,
    h2 {
      font-family: MillerBanner, serif;
      margin: 0;
      font-weight: 300;
    }

    h1 {
      font-size: 2.2rem;
    }

    h2 {
      font-size: 2rem;
    }
  }
}
