@import url(~/src/styles/fonts.css);
@import "~/src/styles/variables.scss";

html {
  font-size: 62.5%;
  body {
    font-family: CustomOpenSans, sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    color: $textColorBlack;
    margin: 0;
    padding: 0;
    overflow: hidden;

    h1,
    h2 {
      font-family: MillerBanner, serif;
      margin: 0;
      font-weight: 300;
    }

    h1 {
      font-size: $fontSizeLarger;
    }

    h2 {
      font-size: $fontSizeLarge;
    }
  }
}
