$animationDuration: 0.5s;
$animation: ease-out $animationDuration;

$textColorBlack: #202020;
$textColorGrey: #656565;

$colorPrimary: #b69f58;
$colorSecondary: #eee;
$colorWhite: white;

$fontSizeSmaller: 1.2rem;
$fontSizeSmall: 1.5rem;
$fontSizeLarge: 2rem;
$fontSizeLarger: 2.2rem;

$lineHeightSmallest: 1rem;
$lineHeightSmaller: 1.2rem;
$lineHeightSmall: 1.6rem;
$lineHeightRegular: 2rem;
$lineHeightLarge: 2.2rem;
$lineHeightLarger: 2.4rem;
