@import "../../styles/variables.scss";

.expandable {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;

    padding: 1.6rem 1.6rem;

    cursor: pointer;

    &.full_width {
      justify-content: space-between;
    }

    .icon {
      margin-left: 1rem;
      align-self: center;
      transition: transform $animation;

      &.expanded {
        transform: rotateX(180deg);
      }
    }
  }

  .content_wrapper {
    height: 0;
    overflow: hidden;
    transition: height $animation;

    padding: 0 3.2rem;
  }
}
